absl-py==2.1.0
accelerate==0.32.1
addict==2.4.0
aiohttp==3.9.1
aiosignal==1.3.1
alabaster==0.7.16
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.1.0
babel==2.16.0
beautifulsoup4==4.12.3
Brotli @ file:///croot/brotli-split_1714483155106/work
cachetools==5.4.0
captum==0.2.0
certifi==2022.12.7
cffi @ file:///croot/cffi_1714483155441/work
charset-normalizer==2.1.1
cilog==1.3.0
click==8.1.8
cloudpickle==3.0.0
contourpy==1.1.1
coverage==7.6.1
cvxopt==1.3.2
cycler==0.12.1
datasets==3.2.0
decorator==5.1.1
dgl==2.1.0
dgllife==0.3.2
dill==0.3.8
dive-into-graphs==1.1.0
docker-pycreds==0.4.0
docutils==0.17.1
et-xmlfile==1.1.0
exceptiongroup==1.2.2
execnet==2.1.1
executing==2.0.1
filelock @ file:///croot/filelock_1700591183607/work
fonttools==4.46.0
frozenlist==1.4.0
fsspec @ file:///croot/fsspec_1714461537038/work
future==1.0.0
gdown==5.2.0
gitdb==4.0.12
GitPython==3.1.44
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645438755360/work
google-auth==2.32.0
google-auth-oauthlib==0.4.6
googledrivedownloader==0.4
-e git+https://github.com/divelab/GOOD.git@fff0e2dc311e1d0e0a23052f6c601db4f185e12e#egg=graph_ood
graphviz==0.20.3
grpcio==1.64.1
h5py==3.11.0
higher==0.2.1
huggingface-hub==0.28.1
hydra-core==1.3.2
hyperopt==0.2.7
idna==3.4
imageio==2.35.1
imagesize==1.4.1
importlib-resources==6.1.1
importlib_metadata==8.0.0
iniconfig==2.0.0
ipython==8.18.1
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
kiwisolver==1.4.5
kmeans-pytorch==0.3
lazy_loader==0.4
lightning-utilities==0.10.0
littleutils==0.2.2
llvmlite==0.41.1
Markdown==3.6
MarkupSafe @ file:///croot/markupsafe_1704205993651/work
matplotlib==3.5.2
matplotlib-inline==0.1.7
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
mmcv==1.4.8
mpmath @ file:///croot/mpmath_1690848262763/work
multidict==6.0.4
multiprocess==0.70.16
munch==2.5.0
mypy-extensions==1.0.0
networkx==2.8
numba==0.58.1
numpy==1.24.4
nvidia-cublas-cu11==11.11.3.6
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu11==8.7.0.84
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu11==10.3.0.86
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu11==11.7.5.86
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-nccl-cu11==2.19.3
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu11==11.8.86
nvidia-nvtx-cu12==12.4.127
oauthlib==3.2.2
ogb==1.3.6
omegaconf==2.3.0
opencv-python==4.10.0.84
openpyxl==3.1.5
outdated==0.2.2
packaging==23.2
pandas==2.0.3
parso==0.8.4
pexpect==4.9.0
Pillow==9.3.0
platformdirs==4.2.2
pluggy==1.5.0
prompt_toolkit==3.0.47
protobuf==3.20.1
psutil==5.9.6
ptyprocess==0.7.0
pure_eval==0.2.3
py==1.11.0
py4j==0.10.9.7
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==2.8.2
pydantic_core==2.20.1
pyg-lib==0.4.0+pt22cu118
PyGCL==0.1.2
Pygments==2.18.0
PyMetis==2023.1.1
pynvml==11.5.0
pyparsing==3.1.1
pyscf==2.6.2
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
pytest==7.1.2
pytest-cov==3.0.0
pytest-forked==1.6.0
pytest-xdist==2.5.0
python-dateutil==2.8.2
python-louvain==0.16
pytorch-lightning==2.1.2
pytz==2023.3.post1
PyYAML @ file:///croot/pyyaml_1698096049011/work
rdkit==2024.3.3
rdkit-pypi==2022.9.5
regex==2024.5.15
requests @ file:///croot/requests_1721410876868/work
requests-oauthlib==2.0.0
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.8
safetensors==0.4.3
scikit-image==0.24.0
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.2
sentry-sdk==2.20.0
setproctitle==1.3.4
shap==0.46.0
six==1.16.0
slicer==0.0.8
smmap==5.0.2
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==5.3.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stack-data==0.6.3
sympy==1.13.1
tabulate==0.9.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==2.4.0
texttable==1.7.0
threadpoolctl==3.2.0
tifffile==2024.8.10
tokenizers==0.19.1
tomli==2.0.1
torch==2.6.0
torch-geometric==2.6.1
torch_cluster==1.6.3+pt25cu121
torch_scatter==2.1.2+pt25cu121
torch_sparse==0.6.18+pt25cu121
torch_spline_conv==1.2.2+pt25cu121
torchaudio==2.2.0
torchdata==0.7.1
torchmetrics==1.2.1
torchvision==0.17.0
torchviz==0.0.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.43.2
triton==3.0.0
typed-argument-parser==1.7.2
typing-inspect==0.9.0
typing_extensions @ file:///croot/typing_extensions_1715268824938/work
tzdata==2023.3
umap==0.1.1
urllib3==1.26.13
wandb==0.17.4
wcwidth==0.2.13
Werkzeug==3.0.3
wilds==2.0.0
xformers==0.0.29.post3
xxhash==3.5.0
yacs==0.1.8
yapf==0.40.2
yarl==1.9.3
zipp==3.17.0
